<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Curriculum Vitae</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <!-- Columna de la foto -->
      <ion-col size="12" size-md="2" class="ion-text-center">
        <!-- Puedes agregar una imagen aquí -->
        <ion-img src="https://i.postimg.cc/C168qPdW/cv1.jpg" style="max-width: 180px; border-radius: 50%"></ion-img>
      </ion-col>

      <!-- Columna de la información personal -->
      <ion-col size="12" size-md="4" class="ion-align-self-center">
        <ion-card>
          <ion-card-content>
            <ion-title size="large" >Elian Ariel Moreira Baque</ion-title>
            <p>Desarrollador Web</p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- Columna del resumen -->
      <ion-col size="12" size-md="6">
        <ion-card>
          <ion-card-content>
            <ion-card-header>
              <ion-card-title>Perfil Personal</ion-card-title>
            </ion-card-header>
            <!-- Agrega tu resumen aquí -->
            Tengo 20 años y soy estudiante de quinto semestre de la carrera de DESARROLLO DE SOFTWARE, 
            con conocimientos en lenguajes como: Python, C++, Java, SQL, HTML, CSS y JavaScript. 
            Con disposición para seguir aprendiendo y reforzando mis conocimientos.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- Sección de información de contacto -->
    <ion-col size="12" size-md="6">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Información de Contacto</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-icon name="call"></ion-icon> +593 988287937 <br>
          <ion-icon name="mail"></ion-icon> elianmoreira&#64;outlook.com<br>
          <ion-icon name="location"></ion-icon> Quitumbe <br>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <!-- Sección de experiencia laboral -->
    <ion-col size="12" size-md="6">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Experiencia</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-label>Cableado estructurado - Escuela Politécnica Nacional</ion-label>
            <ion-note slot="end">2023</ion-note>
          </ion-item>
          <ion-item>
            <ion-label>Helpdesk - Uribe Schwarzkopf</ion-label>
            <ion-note slot="end">2023 - Actualidad</ion-note>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-col>

    <!-- Sección de educación -->
    <ion-col size="12" size-md="6">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Educación</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-label>Tecnología Superior en Desarrollo de Software- Escuela Politécnica Nacional</ion-label>
            <ion-note slot="end">2020 - Actualidad</ion-note>
          </ion-item>
          <!-- Agrega más elementos según sea necesario -->
        </ion-card-content>
      </ion-card>
    </ion-col>

    <!-- Sección de idiomas -->
    <ion-col size="12" size-md="6">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Idiomas</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-label>Español</ion-label>
            <ion-note slot="end">Nativo</ion-note>
          </ion-item>
          <ion-item>
            <ion-label>Inglés</ion-label>
            <ion-note slot="end">Intermedio</ion-note>
          </ion-item>
          <!-- Agrega más elementos según sea necesario -->
        </ion-card-content>
      </ion-card>
    </ion-col>

    <!-- Sección de conocimientos -->
    <ion-col size="12" size-md="6">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Conocimientos</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-label>Python</ion-label>
            <ion-note slot="end">Intermedio</ion-note>
          </ion-item>
          <ion-item>
            <ion-label>Java</ion-label>
            <ion-note slot="end">Intermedio</ion-note>
          </ion-item>
          <ion-item>
            <ion-label>CSS</ion-label>
            <ion-note slot="end">Intermedio</ion-note>
          </ion-item>
          <ion-item>
            <ion-label>HTML</ion-label>
            <ion-note slot="end">Intermedio</ion-note>
          </ion-item>
          <ion-item>
            <ion-label>JavaScript</ion-label>
            <ion-note slot="end">Intermedio</ion-note>
          </ion-item>
          <ion-item>
            <ion-label>React</ion-label>
            <ion-note slot="end">Intermedio</ion-note>
          </ion-item>
          <ion-item>
            <ion-label>MongoDB</ion-label>
            <ion-note slot="end">Intermedio</ion-note>
          </ion-item>
          <ion-item>
            <ion-label>SQL Server</ion-label>
            <ion-note slot="end">Intermedio</ion-note>
          </ion-item>
          <ion-item>
            <ion-label>MySQL</ion-label>
            <ion-note slot="end">Intermedio</ion-note>
          </ion-item>
          <!-- Agrega más elementos según sea necesario -->
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-grid>
</ion-content>